h1
{
    background-color: aqua;
    color: green;
    text-decoration: wavy;
}
p
{
    border-style: double;

}

.imageshape
{
    height: 300px;
    weight: 300px;
    border-style: none;
}

h3
{
    color :purple;
    text-align: center;
    
    

}